#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-brack;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
}

#nav a.router-link-exact-active {
  color: $color-green;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

p {
  margin: 0;
  line-height: 1.7;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: $color-green;
  text-decoration: none;
}

button {
  margin: 1rem 0;
  padding: 1rem;
  border: none;
}

.is-only-sp {
  display: none;
  @include tb {
    display: block;
  }
}

.is-only-pc {
  @include tb {
    display: none !important;
  }
}

.is-hidden {
  width: 0 !important;
  visibility: hidden;
  transition: .5s;
  opacity: 0;
}

.is-bgBlack::before {
  content: ' ';
  background-color: rgba(0,0,0,.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
 }