.moneylist-shadow {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2rem);
  margin: auto;
  padding: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  > P{
    font-size: 1.2rem;
  }
}