.allWrapper{
  background-color: $color-bg;
}

.l-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0;
}

.top {
  line-height: 1.5rem;
  background-color: $color-bg;
  margin-top: 1rem;
}

.main {
  display: flex;
  padding: 0 1.0rem;
  max-width: 120rem;
  margin: 0 auto;

  &-myasset {
    margin: 0 auto;
    padding: 0;
    background-color: $color-white;
    width: 100%;

    &-title {
      padding: 1.5rem 2rem;
      text-align: left;
      border-bottom: solid 0.1rem $color-bg;
      font-weight: bold;
    }

    &-contents {
      padding: 1.5rem 0;

      h2 {
        font-size: 2.0rem;
        line-height: 1.8em;
        font-weight: bold;
        color: $color-white;
        text-align: center;
        border-bottom: solid 0.1rem $color-white;
      }

      h3 {
        text-align: left;
        border-bottom: solid 0.1rem $color-brack;
      }

      &-data {
        background-color: $color-bg;

        &-info {
          background-color: $color-white;
          &-bold {
            font-size: 2.4rem;
            font-weight: bold;
          }
        }
        &-chart {
          display: flex;
          width: 50%;
          padding: 2rem 0;
        }
      }

      &-top {
        background-color: $color-green;
        padding: 1rem;

        &-icon {
          margin: auto 3rem;
          padding: 0;
          background-color: transparent;
          color: $color-white;
          font-size: 2.0rem;
          line-height: 1.8em;
        }

        &-income {
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          margin: 1rem 0;
          color: $color-white;
          &-label {
            >p {
              font-size: 1.6rem;
            }
          }
          &-amount {
            >p {
              font-size: 2.0rem;
            }
          }
          &-yen {
            font-size: 1.6rem;
            margin-right: 0.5rem;
          }
        }

        &-expenses {
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          margin: 1rem 0;
          color: $color-white;
          &-label {
            >p {
              font-size: 1.6rem;
            }
          }
          &-amount {
            >p {
              font-size: 2.0rem;
            }
          }
          &-yen {
            font-size: 1.6rem;
            margin-right: 0.5rem;
          }
        }

        &-sum {
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          margin: 1rem 0;
          background-color: $color-white;
          padding: 1rem;
          &-label {
            >p {
              font-size: 1.6rem;
            }
          }
          &-amount {
            >p {
              font-size: 2.6rem;
            }
          }
          &-yen {
            font-size: 1.6rem;
            margin-right: 0.5rem;
          }
        }
      }

      &-details {
        padding: 1rem;
        &-item {
          display: flex;
          &-inner {
            width: 50%;
          }
        }
      }
      &-form {
        &-component {
          margin: auto;
          padding: 1rem 0;
        }
        &-component-flex {
          margin: auto;
          padding: 1rem 0;
          display: flex;
        }
        >form {
          background-color: $color-bg;
          border: solid 0.1rem $color-white;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          padding: 0 2rem;

          label {
            display: block;
            text-align: left;
            width: 100%;
            margin: 1rem 0;
            color: $color-brack;
          }

          input[type=number], input[type=text], select, textarea {
            font-size: 1.6rem;
            margin: 0 auto;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 0.1rem;
            background-color: $color-white;
          }

          >button {
            width: 70%;
            background-color: $color-green;
            color: $color-white;
            font-weight: bold;
            border: solid $color-white 0.1rem;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              background-color: $color-white;
              color: $color-green;
            }
          }
        }
        >button {
          width: 20rem;
          background-color: $color-green;
          color: $color-white;
          font-weight: bold;
          border: solid $color-green 0.1rem;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: $color-white;
            >p {
              color: $color-green;
            }
          }
        }

        // &-component {
        
        // }
      }
    }
  }
}
