.allWrapper{
  background-color: $color-bg;
}

.l-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0;
}

.top {
  line-height: 1.5rem;
  background-color: $color-bg;
  margin-top: 1rem;
}

.main {
  display: flex;
  padding: 0 1.0rem;
  max-width: 120rem;
  margin: 0 auto;

  &-myasset-detail {
    margin: 0 auto;
    padding: 0;
    width: 100%;

    &-title {
      padding: 1.5rem 2rem;
      text-align: left;
      border-bottom: solid 0.1rem $color-bg;
      font-weight: bold;
    }

    &-contents {
      padding: 1.5rem 0;

      &-form {
        >button {
          width: 20rem;
          font-weight: bold;
          border: solid $color-green 0.1rem;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: $color-white;
            >p {
              color: $color-green;
            }
          }
        }
      }
    }

    &-link-toback {
      >a {
        display: flex;

        >svg {
          font-size: 1.6rem;
          margin: auto 1rem auto 0;
        }
      }
    }
  }
}
