.card-box {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 30rem;

  > li {
    width: 40%;
    margin: 1.0rem 1.0rem 4.5rem 1.0rem;
    padding: 1.0rem;
    background-color: $color-green2;
    border-radius: 0.3rem;

    > img {
      width: 100%;
    }

    > .card-box-txt {
      padding: 1rem;

      > p {
        &:nth-child(1) {
          font-weight: bold;
        }
      }
    }
  }
}