button.cvbutton {
  width: 13rem;
  padding: 1rem auto;
  cursor: pointer;
  background-color: $color-green;
  color: $color-white;
  font-weight: bold;
  box-shadow: 0.5rem 0.5rem 0 $color-brack;
  border-radius: 0.3rem;
  &:hover {
    transition: 0.3s;
    transform: translateX(-0.5rem);
  }
  > svg {
    margin-left: 1rem;
  }

}