.header-nav {
  width: 100%;
  position: fixed;
  height: 5rem;
  z-index: 1000;

  >.header-nav-top {
    margin: 0 auto;
    height: 100%;

    h1 {
      margin: 0;
      >a {
        display: block;
        width: 5rem;
        >img {
          width: 100%;
          margin: auto 0;
          vertical-align: middle;
        }
      }
    }
  }

  >.header-nav-item {
    position: absolute;
    border: solid 0.1rem $color-bg;
    right: 0;
    height: calc(100vh - 8rem);
    width: 70%;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    text-align: left;
    padding: 1rem;
    z-index: 999;
    overflow-y: scroll;
  }
}