.menu01 {
  background-color: $color-white;
  width: 38rem;
  margin-right: 2rem;

  &-content {
    &-head {
      padding: 0.5rem 1rem;
      border-bottom: solid 0.1rem $color-bg;
      font-weight: bold;
    }
  }
}
