.menu02 {
  width: 30rem;
  margin-left: 2rem;
  background-color: $color-white;
  text-align: left;

  &-content {
    &-head {
      padding: 0.5rem 1rem;
      border-bottom: solid 1px $color-bg;
      font-weight: bold;
    }

    &-items {
      display: flex;
      flex-direction: column;
      color: $color-white;
      &-item {
        background-color: $color-green;
        padding: 0.8rem 1rem;
        border: solid 0.1rem $color-bg;
        font-weight: bold;
        margin: 1rem 0.5rem;
        color: $color-white;

        &:hover {
          opacity: 0.3;
          cursor: pointer;
          transition: 0.3s;
        }

        >p {
          >svg {
            margin: 0 1rem 0 0;
          }
        }

        > a {
          color: $color-white;
          text-decoration: none;

          >p {
            >svg {
              margin: 0 1rem 0 0;
            }
          }
        }
      }
    }
  }
}
