.allWrapper{
  background-color: $color-bg;
}

.l-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0;
}

.top {
  line-height: 1.5rem;
  background-color: $color-bg;
}

.user {
  margin: 0 auto 1rem auto;
  width: calc(100% - 2rem);
  padding: 2rem 0;
  opacity: 0.9;
  max-width: 120rem;
  background-color: $color-green2;
  color: $color-white;

  &-icon {
    width: 3.0rem;
  }

  &-name {
    margin: 1rem auto 0 auto;
    font-size: 1.8rem;
  }
}

.main {
  display: flex;
  padding: 0 1.0rem;
  max-width: 120rem;
  margin: 0 auto;

  &-mypage {
    margin: 0 auto;
    padding: 0;
    background-color: $color-white;
    width: 100%;

    &-title {
      padding: 1.5rem 2rem;
      text-align: left;
      border-bottom: solid 0.1rem $color-bg;
      font-weight: bold;
    }

    &-contents {
      padding: 1.5rem 0;
      display: flex;
      flex-wrap: wrap;
      &-item {
        margin: 0.8rem;
        width: calc(33% - 1.6rem);
        height: 20rem;
        border: solid $color-bg 0.1rem;
      }
    }
  }
}
