ul.pagination {
  font-size: 1.6rem;
  > li {
    background-color: #5EAA47;
    border-radius: 0.3rem;
    > a {
      color: #ffffff;
      font-weight: bold;
      display: block;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
    }
  }

  > .active {
    background-color: #ffffff;
    border: #5EAA47 solid 0.1rem;
    > a {
      color: #5EAA47;
    }
  }

  > .disabled {
    background-color: #E4E4E4;
    > a {
      color: #ffffff;
    }
  }
}