ul.pagination {
  font-size: 1.6rem;
  > li {
    background-color: $color-green;
    border-radius: 0.3rem;
    > a {
      color: $color-white;
      font-weight: bold;
      display: block;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
    }
  }

  > .active {
    background-color: $color-white;
    border: $color-green solid 0.1rem;
    > a {
      color: $color-green;
    }
  }

  > .disabled {
    background-color: $color-gray;
    > a {
      color: $color-white;
    }
  }
}