form {
  display: flex;
  margin: 1rem 0.5rem;
  width: calc(100% - 1rem);
  @include tb {
    margin: 1rem 0;
    width: 100%;
  }
  
  >input {
    width: 80%;
    height: 3rem;
    @include tb {
      max-width: 21rem;
    }
  }

  >button {
    width: 20%;
    margin: 0;
    height: 3rem;
    background-color: $color-bg;
    cursor: pointer;
    @include tb {
      max-width: 5rem;
    }
  }
}