.signin-page {
  background-color: $color-bg;

  >h2 {
    padding-top: 8rem;
  }

  &-form {
    max-width: 1200px;
    margin: 5rem auto;
    @include tb {
      margin: 5rem 1rem;
    }
    >input {
      font-size: 1.6rem;
    }
    &-email {
      display: block;
      margin: 1.0rem auto;
      height: 2.7rem;
      width: 20.0rem;
      text-align: center;
    }

    &-password {
      display: block;
      margin: 1.0rem auto;
      height: 2.7rem;
      width: 20.0rem;
      text-align: center;
    }

    &-button {
      width: 20.0rem;
      background-color: $color-green;
      color: $color-white;
      font-weight: bold;
      border: solid $color-green 0.1rem;
      &:hover {
        background-color: $color-white;
        color: $color-green;
        cursor: pointer;
        transition: 0.3s;
      }
    }
  }

  &-to-signin {
    margin: 5rem 1rem;
  }
}
