.signInPage-form-email {
  display: block;
  margin: 0.4rem auto;
  height: 1.7rem;
  width: 20.0rem;
  text-align: center;
}

.signInPage-form-password {
  display: block;
  margin: 0.4rem auto;
  height: 1.7rem;
  width: 20.0rem;
  text-align: center;
}

.signInPage-form-button {
  width: 20.0rem;
  background-color: #e2e2e2;
  color: #111111;
}

.signInPage-form-button:hover {
  background-color: #42b983;
  color: #ffffff;
}