.signUpPage {
  &-form {
    &-name {
      display: block;
      margin: 1.0rem auto;
      height: 2.7rem;
      width: 20.0rem;
      text-align: center;
    }

    &-email {
      display: block;
      margin: 1.0rem auto;
      height: 2.7rem;
      width: 20.0rem;
      text-align: center;
    }

    &-password {
      display: block;
      margin: 1.0rem auto;
      height: 2.7rem;
      width: 20.0rem;
      text-align: center;
    }

    &-button {
      width: 20.0rem;
      background-color: $color-green;
      color: $color-white;
      font-weight: bold;
      &:hover {
        background-color: $color-white;
        color: $color-green;
        border: solid $color-green 0.1rem;
        transition: 0.3s;
      }
    }
  }
}
