.card-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 60rem;
  text-align: left;

  > .card-box-inner {
    margin: 1.0rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
    border: solid 0.3rem $color-bg;
    > .card-box-txt {
      font-weight: bold;
      >p {
        @include tb {
          font-size: 1.0rem;
        }
      }
    }
  }
}