.allWrapper{
  background-color: $color-green;
}

.l-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 10rem 0;
  margin: 0 auto;
  @include tb {
    padding: 0 1rem 10rem 1rem;
  }

  > .top-fv {
    display: flex;
    @include tb {
      flex-direction: column;
    }
    > img {
      width: 60rem;
      @include tb {
        width: 100%;
      }
    }

    > .top-fv-txt {
      display: flex;
      flex-direction: column;
      margin: auto 0;
      > h1 {
        font-size: 5rem;
        display: inline-block;
        font-weight: bold;
      }
      > .top-fv-button {
        width: 20rem;
        margin: 1rem auto;
        > a {
          color: $color-white;
          font-weight: bold;
          display: block;
          width: 100%;
          height: 100%;
          background-color: $color-green;
          border: solid 0.1rem $color-bg;
          &:hover {
            background-color: $color-white;
            cursor: pointer;
            transition: 0.3s;
            > p {
              color: $color-green;
            }
          }
          > p {
            display: block;
            margin: 0.8rem 1rem;
          }
        }
      }
    }
  }

  > .top-list {
    margin-top: 1rem;

    .top-list-features, .top-list-categories {
      width: 100%;
      background-color: $color-white;
      border: solid 0.1rem $color-green2;
      @include tb {
        margin: 1rem 0;
      }
    }
  }
}
