.allWrapper{
  background-image: url("../images/top-bg.png");
  height: 100vh;
  width: 100%;
}

.l-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25vh 0 0 0;

  > .top-fv {
    > h1 {
      font-size: 5rem;
      font-weight: bold;
    }

    > .top-fv-button {
      width: 20rem;
      background-color: $color-green;
      padding: 0.8rem 1rem;
      border: solid 0.1rem $color-bg;
      margin: 1rem auto;
      > a {
        color: $color-white;
        font-weight: bold;
      }
      &:hover {
        opacity: 0.3;
        cursor: pointer;
        transition: 0.3s;
      }
    }
  }

  > .top-list {
    display: flex;
    justify-content: space-around;
    margin-top: 15vh;

    .top-list-features, .top-list-categories {
      width: calc(50% - 2rem);
      background-color: $color-white;
      border: solid 0.1rem $color-green2;
    }
  }
}
