.allWrapper{
  background-color: $color-green;
}

.l-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 10rem 0;

  > .top-fv {
    display: flex;
    > img {
      width: 60rem;
    }

    > .top-fv-txt {
      display: flex;
      flex-direction: column;
      margin: auto 0;
      > h1 {
        font-size: 5rem;
        display: inline-block;
        font-weight: bold;
      }
      > .top-fv-button {
        width: 20rem;
        background-color: $color-green;
        padding: 0.8rem 1rem;
        border: solid 0.1rem $color-bg;
        margin: 1rem auto;
        > a {
          color: $color-white;
          font-weight: bold;
        }
        &:hover {
          background-color: $color-white;
          cursor: pointer;
          transition: 0.3s;
          > a {
            color: $color-green;
          }
        }
      }
    }
  }

  > .top-list {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;

    .top-list-features, .top-list-categories {
      width: calc(50% - 2rem);
      background-color: $color-white;
      border: solid 0.1rem $color-green2;
    }
  }
}
