.allWrapper{
  background-color: $color-bg;
}

.l-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 0;
}

.top {
  margin-bottom: 5.0rem;
  line-height: 1.5rem;
}

.image {
  padding: 1.0rem 1.0rem;
  > img {
    width: 100%;
    margin: 0 auto;
  }
}

.header {
  display: flex;
  justify-content: right;
  padding: 3.0rem 2.0rem;
}

.user-icon {
  width: 2.0rem;
}

.main {
  display: flex;
  padding: 0 1.0rem;
}
