.weblist {
  width: 100%;
  padding: 0;
  background-color: $color-bg;

  &-title {
    padding: 1.5rem 2rem;
    text-align: left;
    border-bottom: solid 0.1rem $color-bg;
    font-weight: bold;
  }

  &-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
