.allWrapper{
  background-color: #E4E4E4;
  padding: 10px 0;
}

.l-container {
  max-width: 1200px;
  margin: 0 auto;
}

.top {
  margin-bottom: 5.0rem;
  line-height: 1.5rem;
}

.header {
  display: flex;
  justify-content: right;
  padding: 3.0rem 2.0rem;
}

.user-icon {
  width: 2.0rem;
}

.main {
  display: flex;
  padding: 0 1.0rem;
}
