
.webdetail {
  width: 100%;
  padding: 0;
  background-color: $color-white;

  &-title {
    padding: 1.5rem 2rem;
    text-align: left;
    border-bottom: solid 1px $color-bg;
    font-weight: bold;
  }

  &-contents {
    padding: 0.5rem;
  }

  &-info {
    padding: 0.5rem;
  }
}
